.git
.vs
.vscode
**/bin
**/obj
**/node_modules
**/dist
**/wwwroot
**/.pnpm-store
**/.npm-cache
artifacts
data
volumes
plugins
**/Config.json
**/*.db*
**/*.sqlite*
**/*.log
**/*.user
.env
.env.*
tests
